.main-text {
    margin-top: 5%;
}
#heading-main {
    position: relative;
    text-align: center;
    font-weight: 300;
    font-size: 80px;
    letter-spacing: -3px;
}
#heading-split {
    text-align: center;
    font-weight: 100;
    font-size: 60px;
    letter-spacing: 0px;
}
#paragraph-main {
    margin-left: 10%;
    margin-right: 10%;
}
#cat-name {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
}
.color-switcher {
    display: block;
    margin-right: 2px;
}
.letters-b {
    margin-right: -5px;
}
.cat-app {
    position: relative;
}
.paragraph-split {
    font-weight: 200;
}
.code-bit {
    background-color: rgb(243, 243, 243);
}
.my-basket {
    position: fixed;
    top: 50px;
    right: 50px;
}
.total-spacing-1 {
    margin-left: 25px;
    margin-top: 75px;
}
.total-spacing-2 {
    font-weight: 800;
}
.button-spacing-1 {
    margin-right: 50%;
}