* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(306, 100%, 89%);
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.title {
  text-align: center;
  font-size: 4rem;
}

.title span {
  background-color: hsl(307, 62%, 23%);
  padding: 0 2em;
  border-radius: 20px;
}

.cat-cards {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.cat-card {
  padding: 10px;
}

img {
  width: 300px;
  height: 200px;
}

.basket-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 20%;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;;
  /* position: absolute;
  right: 60px;
  top:-100px; */
}

.basket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 90%;
}

.basket-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.basket-buyBtn {
  display: flex;
  align-self: flex-end;
}

.box {
  width: 50px;
  height: 50px;
  background-color: aqua;
  margin-bottom: 5px;
}
